html,
body {
  min-height: 100%;
  margin: 0;
}
body {
  font-family: Lato;
  background: radial-gradient(#56dbf9, #15275d);
  background-repeat: no-repeat;
  color: #737373;
}
.main-content {
  background: #ffffffe6;
  margin: 15px;
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.row {
  display: -ms-flexbox;
  display: flex;
}
#header-row {
  height: 70px;
  margin-bottom: 10px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
#header-row .logo img {
  height: 100%;
}
#header-row .ventRec {
  padding: 0 20px;
  line-height: 70px;
  color: white;
}
#header-row .ventRec#true {
  background: #0c6d0c;
}
#header-row .ventRec#false {
  background: #e60000;
}
#data-row .left-container {
  float: left;
  width: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-right: 10px;
  position: relative;
}
#data-row .left-container:after {
  display: none;
  font-family: "fontello";
  content: "\e801";
  position: absolute;
  right: -6px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 25px;
  color: white;
  background: #29709c;
  border-radius: 50%;
  border: 2px solid #ffffffe6;
  width: 36px;
  text-align: center;
  height: 36px;
  line-height: 39px;
}
#data-row .left-container:hover:after {
  color: #29709c;
  background: white;
}
#data-row .left-container .data-block {
  height: 49%;
  color: #29709c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  border: 1px solid #29709c;
}
#data-row .left-container .data-block.active {
  background: #29709c;
  color: white;
}
#data-row .left-container .data-block:before {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 35px;
  opacity: 0.6;
  line-height: 35px;
}
#data-row .left-container .data-block .big-single-value {
  display: inline-block;
}
#data-row .left-container .data-block .big-single-value .icon-temperatire {
  font-size: 25px;
}
#data-row .left-container .data-block #inner-temp-value,
#data-row .left-container .data-block #outer-temp-value {
  font-size: 70px;
}
#data-row .left-container .data-block #inner-humidity-value,
#data-row .left-container .data-block #outer-humidity-value {
  font-size: 30px;
}
#data-row .left-container .outer-temperature:before {
  content: 'AUSSEN';
}
#data-row .left-container .inner-temperature:before {
  content: 'INNEN';
}
#data-row .right-container {
  float: left;
  width: 75%;
}
#data-row .right-container .chart-wrapper {
  position: relative;
}
#data-row .right-container .chart-wrapper canvas {
  border: 1px solid #29709c;
}
#bottom-row .download-block {
  cursor: pointer;
  width: 25%;
}
#bottom-row .download-block p {
  text-align: center;
}
#bottom-row .slider-wrapper {
  width: 75%;
  text-align: center;
}
#bottom-row .slider-wrapper #slider {
  margin: 2% 10% 0 10%;
}
#bottom-row .slider-wrapper #slider .ui-rangeSlider-container {
  background: none;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}
#bottom-row .slider-wrapper #slider .ui-rangeSlider-arrow {
  background: none;
  border-color: #afafaf;
}
#bottom-row .slider-wrapper p {
  font-size: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 64em) {
  #data-row {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #data-row > div {
    width: 100% !important;
  }
  #data-row .left-container {
    padding-bottom: 20px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  #data-row .left-container .data-block {
    padding: 30px 0;
    width: 49%;
  }
  #bottom-row {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  #bottom-row > div {
    width: 100% !important;
  }
}
@media screen and (max-width: 30em) {
  #data-row .left-container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #data-row .left-container .data-block {
    width: 100%;
  }
  #data-row .left-container .data-block:first-child {
    margin-bottom: 1%;
  }
}
